# Node
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
.env
.DS_Store

# Build
build/
dist/
out/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
Thumbs.db

# BackUp
# BackUp_22.10.2025